a.navbar-brand {
  white-space: nowrap; /* Metnin tek satırda kalmasını sağlar */
  text-align: left; /* Sol tarafa hizalar */
  word-break: normal; /* Metnin bölünmesini önler */
  font-size: 1.5rem; /* Daha büyük bir font boyutu */
  font-weight: bold; /* Kalın font */
  color: white; /* Beyaz renk */
}

/* Genel link stili */
a {
  color: #0077cc; /* Linklerin genel rengi */
}

a:hover {
  color: #0056b3; /* Linklerin üzerine gelindiğinde rengi */
  text-decoration: underline; /* Linklerin üzerine gelindiğinde altı çizili olur */
}

/* Buton Stilleri */
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Navbar ve Sekme Aktif Durumu */
.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Kenarlık ve Gölge */
.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Kabul Politikası Butonu */
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Footer Stili */
.footer {
  position: fixed; /* Footer'ı sayfanın altına sabitler */
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  white-space: nowrap;
  line-height: 60px;
  text-align: center; /* Footer metnini ortalar */
  padding: 10px 0; /* Daha iyi aralık için padding */
  border-top: 1px solid #e5e5e5;
}
