<h2>Login</h2>

<form asp-action="Login" method="post" class="mt-4">
    <div class="mb-3">
        <label for="Email" class="form-label">Email:</label>
        <input type="email" id="Email" name="email" class="form-control" required />
    </div>
    <div class="mb-3">
        <label for="Sifre" class="form-label">Şifre:</label>
        <input type="password" id="Sifre" name="sifre" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>
