@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Hoş Geldiniz</h1>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/osym.jpg" class="card-img-top" alt="2024 YKS Tercih Sonuçları Açıklandı">
                <div class="card-body">
                    <h5 class="card-title">2024 YKS Tercih Sonuçları Açıklandı!</h5>
                    <a href="#" class="btn btn-primary">Detaylara Git</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/universite_kayit.jpg" class="card-img-top" alt="Üniversite Kayıt Günleri Başladı">
                <div class="card-body">
                    <h5 class="card-title">Üniversite Kayıt Günleri Başladı!</h5>
                    <a href="#" class="btn btn-primary">Detaylara Git</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/akademik_takvim.png" class="card-img-top" alt="2024-2025 Eğitim Öğretim Dönemi Akademik Takvim Açıklandı">
                <div class="card-body">
                    <h5 class="card-title">2024-2025 Eğitim Öğretim Dönemi Akademik Takvim Açıklandı!</h5>
                    <a href="#" class="btn btn-primary">Detaylara Git</a>
                </div>
            </div>
        </div>
    </div>
</div>
