@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100 flex-column text-center" style="margin-top: -50px;">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/avatar.png" alt="Avatar" class="img-fluid mt-3" style="width: 80%; max-width: 800px; height: auto;">
    <p class="mt-3">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<footer class="text-muted position-fixed bottom-0 start-0 p-3 w-100">
    <div class="container">
        <p class="mb-0">&copy; 2024 - UniversiteOgrenciYonetimSistemi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
    </div>
</footer>
