.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.card {
    border-radius: 1rem;
}

.vh-100 {
    height: 100vh;
}

.container {
    max-width: 1200px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

img.img-fluid {
    border-radius: 1rem 0 0 1rem;
}

.text-black {
    color: #000 !important;
}

.form-outline .form-label {
    display: block;
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-outline .form-control-lg {
    font-size: 1.25rem;
    padding: 1.25rem .75rem;
    border-radius: .375rem;
}

.btn-block {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: #ff6219;
}

a:hover {
    text-decoration: underline;
}
